.Info1 div{
    margin: 0.2rem 0.6rem;
}
.data_container{
    width: 80%;
}
.data_part{
    border-radius: 10px;
    color: #869EC0;
}
.data_part1{
    background: #0F1C2E;
    border-radius: 10px;
}
.duration_box{
    background: #14253E;
    border-radius: 8px;
    font-size: 0.9rem;
}
.sideBar_input{
    border: 1px solid #869EC0;
    border-radius: 6px;
}
.sideBar_input::placeholder{
    text-align: right;
}
.notice_part1 div{
    background: #0F1C2E;
}
.notice_part2 div{
    background: #0F1C2E;
}
.special{
    color: #0F1C2E !important;
    background: #a0b5d2d4 !important;
}
.special svg path{
    color: #0F1C2E !important;
}
@media screen and (max-width:1000px) {
    .data_container{
        display: block;
    }
    .table_info_container{
        display: inline-flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .table_info_container div{
        width: 100%;
    }
    .data_part{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
    .mini_data_1{
        display: block;
    }
    .mini_data_1 div{
        display: flex;
        direction: rtl;
        justify-content: space-between;
        padding: 0.4rem 0;
    }
    .mini_data_2{
        display: block;
    }
    .max_min_price h3{
        text-align: center;
    }
    .sidebar{
        margin-top: 4rem;
    }
    .notice_part1{
        display: block;
    }
    .notice_part1 div{
        width: 90%;
    }
    .notice_part2{
        display: block;
    }
    .notice_part2 div{
        width: 90%;
    }
}