.coin-container{
  width: 80%;
  margin: 0 auto;
}
.coin-row{
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.coin{
  display: flex;
  width: 200px;
}
.coin h1{
  margin-top: 0.6rem;
  margin-left: 0.6rem;
}
.coin p{
  margin-top: 0.6rem;
  margin-left: 0.6rem;
}
.coin img{
  width: 2.5rem;
  height: 2.5rem;
}
.coin-data{
  display: flex;
}
.coin-data p{
  margin: 0.6rem 1rem;
}
.coinLink{
  background: linear-gradient(45deg, #2d7ee2d5, #003fe0cf);
}
  .red {
    color: #F5627B;
  }
  
  .green {
    color: #66AB6A;
  }
  @media screen and (max-width:1000px) {
    .coin-marketcap{
      display: none;
    }
    .coin-price{
      display: none;
    }
    .coin-row{
      justify-content: space-around;
    }
  }
  @media screen and (max-width:690px) {
    .coin-container{
      width: 100%;
    }
    .coin-symbol{
      display: none;
    }
    .coin{
      width: 100px;
    }
    .coin-data{
      width: max-content;
      display: block;
      text-align: center;
      font-size: 0.9rem;
    }
    .coin h1{
      font-size: 0.8rem;
      margin-top: 0.2rem;
    }
    .coin-volume{
      font-size: 0.8rem !important;
      margin: 0.1rem auto !important;
    }
    .coin-percent{
      font-size: 0.7rem !important;
      padding-top: 0.1rem !important;
      margin: 00.1rem auto !important;
    }
    .coin img{
      width: 1.5rem;
      height: 1.5rem;
    }
    .coinLink{
      font-size: 0.7rem;
      font-weight: 700;
      margin: 0 0.2rem;
      width: 60px;
      height: 28px;
    }
  }